
.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: transparent;
  border: 0px solid #c80000;
  border-radius: 2px;
  padding: 4px 0px 4px 10px;
  /* bottom: calc((100% - 20px) / 2); */
  top: -36px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: right;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 99;
}
.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  /* bottom: calc((100% - 20px) / 2); */
  top: -3px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
.form-group {
	position: relative;
}
.login_card .card .card-body {
  overflow: auto;
}
.animatedSpan {
	position: absolute;
	left: 10px;
	right: 0;
	top: 10px;
    font-size: 16px;
	text-align: left;
	pointer-events: none;
	transition: all 0.2s ease-in-out;
}
.imActiveFeild {
    top: -20px;
    color: #00a651;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    display: block;
    text-align: left;
    left: 0px;
}
.topExampButtons {
  padding-top: 25px;
}
.topExampButtons a {
  display: inline-block;
  margin: 4px 9px;
  padding: 0 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.topExampButtons a.redButton {
  border: 1px solid #ff0000;
  background: #ff0000;
  color: #FFF;
}
.topExampButtons a.whiteButton {
  border: 1px solid #2957a3;
  background: #FFFFFF;
  color: #000;
}
.questionCount {
  padding-top: 39px;
  font-size: 15px;
  color: #00a651;
  text-transform: uppercase;
}
.questionCount b {
  font-weight: normal;
  color: #000000;
}

.exampTime {
  font-size: 14px;
  color: #000;
  text-align: center;
  padding-top: 34px;
}
.blueTime {
  position: relative;
  background-color: #2957a4;
  border-radius: 18px;
  overflow: hidden;
  height: 30px;
  width: 198px;
}
.blueTime div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #94abd2;
}
.blueTime span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #FFF;
  line-height: 30px;
}
#clockdiv {
  width: 198px;
}
#sclockdiv {
  width: 117px;
}
#sclockdiv .blueTime {
  width: 117px;
  background-color: #00a651;
  height: 30px;
}
#sclockdiv .blueTime div {
  background-color: #f8931e;
}


.questionDiv {
  padding-top: 15px;
}
.questionDiv p {
  font-weight: 300;
  font-size: 15px;
}

/* The labelcontainer */
.labelcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  text-transform: uppercase;
  padding: 19px 16px 19px 48px;
}
/* Hide the browser's default radio button */
.labelcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 18px;
  left: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.labelcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.labelcontainer input:checked ~ .checkmark {
  background-color: #00a651;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.labelcontainer input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.labelcontainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.optionOpener {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 68px;
  left: -34px;
  top: 45%;
  background: url(../img/qSetting.png) no-repeat left top;
  transition: all 0.3s ease-in-out;
}
.iamOpen .optionOpener {
  background: url(../img/qSetting.png) no-repeat left bottom;
}
.sideExampOptions {
  position: fixed;
  right: -320px;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 99999;
  background-color: #f3f3f3;
  padding: 32px 0;
}
.iamOpen {
  animation: sideSlideOpen 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.iamClose {
  animation: sideSlideClose 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.sideExampOptions ul {
  margin: 0;
  padding: 0 0 17px 0;
  list-style: none;
  border-bottom: 1px solid #012b55;
}
.sideExampOptions ul li {
  padding: 0 10px 0 32px;
}
.sideExampOptions ul li a {
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #313131;
  display: block;
}
.sideExampOptions ul li:hover {
  background-color: #87ffc2;
}
.sideExampOptions ul li a:hover {
  background-image: url(../img/seletedTic.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.sideExampOptions ul li span {
  display: inline-block;
  width: 40px;
  height: 35px;
  text-align: center;
  line-height: 29px;
  color: #fff;
  font-size: 13px;
  margin-right: 14px;
}
.sideExampOptions ul li.whiteLink span {
  background-image: url(../img/whitelink.png);
  background-repeat: no-repeat;
  background-position: left top;
  color: #000;
}
.sideExampOptions ul li.yellowlink span {
  background-image: url(../img/yellowlink.png);
  background-repeat: no-repeat;
  background-position: left top;
  color: #000;
}
.sideExampOptions ul li.graylink span {
  background-image: url(../img/graylink.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.sideExampOptions ul li.redlink span {
  background-image: url(../img/redlink.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.sideExampOptions ul li.greenLink span {
  background-image: url(../img/greenLink.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.questionBankList {
  margin-top: 1px;
  border-top: 1px solid #aab7c3;
  padding: 0 0px 0 20px;
  overflow: auto;
}
.questionBankList h6 {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 14px;
}
.questionBankList a {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  margin: 10px 8px;
  line-height: 36px;
  text-align: center;
  font-size: 15px;
}
.questionBankList a.green {
  background-color: #00a651;
  color: #fff;
}
.questionBankList a.gray {
  background-color: #afafaf;
  color: #fff;
}
.questionBankList a.white {
  background-color: #fff;
  color: #000;
}
.setHtight {
  padding-top: 20px;
  padding-bottom: 20px;
}
.buttonSetBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
}
.buttonSetBottom a {
  display: inline-block;
  line-height: 44px;
  width: 152px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}
.buttonSetBottom a i {
  padding: 0 10px;
}
.buttonSetBottom a.green {
  color: #fff;
  background-color: #00a651;
}
.buttonSetBottom a.blue {
  color: #fff;
  background-color: #012b55;
}
.buttonSetBottom a.saffron {
  color: #000;
  background-color: #fddebb;
}
.buttonSetBottom a.yellow {
  color: #000;
  background-color: #fff961;
}
.saveQeuestionDiv {
  max-width: 914px;
  margin: 30px auto 30px auto;
  background-color: #f0fff7;
  border: 1px solid #e5e5e5;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}
.saveQeuestionDiv h3 {
  margin: 0;
  padding: 10px 10px 10px 20px;
  color: #000;
  background-color: #cfffe6;
  line-height: 30px;
  font-size: 18px;
}
.perQusetionBlock {
  padding: 20px 20px 0px 20px;
}
.perQusetionBlock label.labelcontainer {
  padding: 14px 16px 14px 30px;
  background-color: #fff;
}
.line {
  border-top: 1px solid #b6b6b6;
  margin-bottom: 0;
}
.profileDiv {
  max-width: 914px;
  margin: 130px auto 98px auto;
  background-color: #f0fff7;
  border: 1px solid #e5e5e5;
  padding: 20px 68px 20px 68px;
  border-radius: 12px;
}
.profileform .form-group {
  padding-top: 3px;
  margin-top: 25px;
}
.profileform .customRadio {
  height: 20px;
}
.profileform label {
  margin-top: -5px;
}
.profileform .customRadio .relationBtn {
  margin-bottom: 0;
}
.profileImg {
  margin: -100px auto 30px auto;
  width: 149px;
  height: 149px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.profileImg div.editProfile {
  height: 33px;
  background-color: rgba(66, 181, 152, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  text-align: center;
  color: #fff;
  line-height: 33px;
}
.profileImg div.editProfile i {
  pointer-events: none;
  cursor: pointer;
}
.profileImg div.editProfile input {
  opacity: 0;
  height: 33px;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 999;
}
.profileSubmit {
  max-width: 90%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 42px;
  display: block;
  width: 357px;
  text-align: center;
  background-color: #00a651;
  margin: 0px auto 0px auto;
  border: 0;
  position: relative;
  bottom: -40px;
}
.greenHeader {
  padding: 22px 0;
  text-align: center;
  color: #fff;
  font-size: 22px;
  background-color: #00a651 !important;
}
.whiteBody {
  background-color: #fff !important;
  padding: 0px 30px 30px 30px !important;
}
.subHeadder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #777777;
  margin-bottom: 15px;
}
.timeScore {
  text-align: left;
}
.timeScore span {
  font-size: 16px;
  color: #313131;
  font-weight: 600;
}
.timeScore span.orengeText {
  color: #f69220;
}
.whiteBody ul {
  margin: 0;
  padding: 0 0 0 20px;
  text-align: left;
}
.whiteBody ul li {
  color: #313131;
}
.orengeButton {
  background-color: #f8931e;
  color: #fff;
  font-size: 14px;
  width: 184px;
  line-height: 32px;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  margin-top: 28px;
}
#retest .login_card .card {
  width: 649px;
}

.mainHeader {
  flex-direction: row;
  justify-content: space-between;
}
.avtar_demo {
  margin-left: initial !important;
}
.btn-img {
  background-color: transparent;
}
@keyframes sideSlideOpen {
  0% {
    right: -320px;
  }
  100% {
    right: 0;
  }
}
@keyframes sideSlideClose {
  0% {
    right: 0;
  }
  100% {
    right: -320px;
  }
}

@media (min-width: 992px) {
  #sclockdiv {
    float: right;
    margin-right: -157px;
  }
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }

  .logo , .questionCount {
    display: none;
  }
  .mainHeader {
    display: block !important;
  }
  .topExampButtons {
    margin-left: 50px;
  }
  .topExampButtons, #clockdiv {
    float: left;
  }
  .avtar_demo {
    float: right;
    margin-top: 27px;
  }
}
@media (max-width: 665px) {
  .topExampButtons, #clockdiv {
    float: none;
    margin-right: 0;
    margin-left: 30px;
  }
  .avtar_demo {
    float: none;
  }
  .topExampButtons a {
    padding: 0 26px;
  }
  .exampTime {
    padding-top: 18px;
  }
  .avtar_demo {
    float: right !important;
    margin-top: -52px;
  }
  .topExampButtons {
    padding-top: 0px;
  }
  #retest .login_card .card, .login_card .card {
    width: 80% !important;
  }
  .registration_card .card .card-body {
    padding: 20px 19px 56px !important;
  }
  .topExampButtons a {
      line-height: 35px;
      padding: 0 5px;
      width: 110px;
      text-align: center;
  }
    .topExampButtons, #clockdiv {
        margin-left: 0px;
    }
}
@media (max-width:413px) {
    .buttonSetBottom a {
        font-size: 12px;
    }
    .buttonSetBottom a i {
        padding: 0 5px;
    }
}